.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  max-width: 850px;
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  padding: 50px;
  border-radius: 4px;
}

.login-title {
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.login-form .form-control {
  border: solid 1px #bebebe;
  border-radius: 5px;
  padding: 10px;
}

.form-control:focus,
.login-form:focus {
  border-color: #000;
  box-shadow: none;
}

.login-buttons {
  font-family: "Roboto Mono", monospace;
  color: #000;
  margin: 30px 0;
}

.login-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
