.registration-successful-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-successful-content {
  max-width: 850px;
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  padding: 50px;
  border-radius: 4px;
}

.registration-successful-title {
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.registration-successful-message {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-family: "Roboto Mono", monospace;
}

.registration-successful-button {
  font-family: "Roboto Mono", monospace;
  color: #000;
  margin-top: 30px;
}
